/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

/*estilos generales a todas las paginas*/
/*estilos de body*/
body {
  background-color: #ede9e9; }

/* estilos de header*/
header {
  background-image: linear-gradient(to left, #c8ceebfd, #444b6e); }
  header .banner {
    height: 50px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "logo titulo"; }
  header #logo {
    grid-area: logo; }
  header #logo-index {
    grid-area: logo;
    animation-name: animacion-logo-index;
    animation-iteration-count: 1;
    animation-duration: 2s; }
  header h1 {
    color: #444b6e;
    grid-area: titulo; }
  header nav {
    text-align: center; }

/*estilos de menu*/
li {
  background-color: #9AB87A; }

.container-fluid {
  background-color: #9AB87A;
  width: 100%; }
  .container-fluid .collapse {
    justify-content: center; }

.nav {
  background-color: #9AB87A; }

.nav-item:hover {
  filter: drop-shadow(0.5rem 0.5rem 0.5rem grey); }

/*estilos de footer*/
footer {
  text-align: center;
  background-color: white; }
  footer .footer-div {
    margin-top: 0.5rem; }

/*estilo boton whatsapp*/
.whatsapp {
  position: fixed;
  right: 1rem;
  bottom: 1.5rem;
  transition: 1s all; }

.whatsapp:hover {
  scale: 1.5; }

.section-novedades, .section-destacados, .section-mas-vendidos {
  text-align: center;
  margin: 40px;
  padding: 15px;
  display: none; }

/*estilos de section*/
.intro {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  width: auto; }
  .intro .intro-texto {
    font-size: 2rem;
    width: auto;
    color: #444b6e; }

.section-novedades {
  border: 2px solid black; }
  .section-novedades img {
    margin: 0.3rem; }

.section-destacados {
  border: 2px solid green; }
  .section-destacados img {
    margin: 0.3rem; }

.section-mas-vendidos {
  border: 2px solid red; }
  .section-mas-vendidos img {
    margin: 0.3rem; }

.novedades {
  width: 75%; }
  .novedades .h2 {
    margin-bottom: 0.7rem; }

/*estilos de main-nosotros*/
.main-nosotros {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 3rem; }
  .main-nosotros .btn {
    background-color: #9AB87A;
    display: flex;
    justify-content: center;
    align-items: end;
    min-width: min-content;
    width: 80%;
    gap: 3rem; }
    .main-nosotros .btn p {
      justify-self: auto;
      color: #444b6e;
      font-size: 1.5rem; }
  .main-nosotros .vision-label {
    background-color: #9AB87A; }

/*estilos contacto*/
.formulario-contacto {
  display: inline-block;
  width: 50%; }
  .formulario-contacto fieldset .boton-enviar {
    margin-top: 10px;
    margin-bottom: 10px; }
  .formulario-contacto fieldset .div-mensaje .mensaje {
    height: 200px;
    width: 180%; }
  .formulario-contacto fieldset div input {
    width: 180%; }
  .formulario-contacto fieldset div label {
    display: block; }

/*estilo mapa ubicacion*/
.mapouter .gmap-canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 350px; }
  .mapouter .gmap-canvas .gmap-iframe {
    width: 100% !important;
    height: 350px !important; }

.mapouter .correo {
  text-align: left;
  margin-top: 10px;
  grid-area: correo; }

.mapouter .ubicacion {
  text-align: left;
  margin-top: 10px;
  grid-area: ubicacion; }

.mapouter .telefono {
  text-align: left;
  margin-top: 10px;
  grid-area: telefono; }

/*estilos preguntas frecuentes*/
.preguntasfrecuentes {
  padding: 20px;
  display: none;
  padding-left: 4rem;
  padding-right: 10rem; }
  .preguntasfrecuentes p {
    margin-bottom: 1.5rem;
    font-size: 1rem; }
  .preguntasfrecuentes h2 {
    font-size: 1.5rem; }

/*estilos TIENDA*/
.tienda {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-direction: column; }
  .tienda section {
    display: inline-block;
    margin: 1.5rem;
    text-align: center; }

/* pantallas de tablet*/
@media screen and (min-width: 576px) {
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    width: auto; }
    .intro .intro-texto {
      align-self: center;
      width: 50%;
      font-size: 2rem;
      color: #444b6e; }
    .intro .video-como-comprar {
      align-self: center; }
  .section-novedades {
    display: block; }
  .section-destacados {
    display: block; }
  .section-mas-vendidos {
    display: block; }
  .carousel {
    display: none; }
  #accordion-menu {
    display: none; }
  .preguntasfrecuentes {
    display: block; }
  .tienda {
    display: flex;
    flex-flow: wrap;
    justify-content: center; } }

/*pantallas de escritorio*/
@media screen and (min-width: 1024px) {
  .main-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 2rem;
    grid-template-areas: "formulario mapa" "formulario ubicacion" "formulario correo" "formulario telefono"; }
  .formulario-contacto {
    grid-area: formulario; }
  .mapouter {
    grid-area: mapa;
    margin-top: 40px; }
  #accordion-menu {
    display: none; }
  .preguntasfrecuentes {
    display: block; } }

/*animaciones*/
@keyframes animacion-logo-index {
  from {
    transform: scale(0.3); }
  to {
    transform: scale(1); } }
