@import "../base/mixing";

/*estilos contacto*/

.formulario-contacto {
    display: inline-block;
    width: 50%;

    fieldset {
        .boton-enviar {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .div-mensaje {
            .mensaje {
                height: 200px;
                width: 180%;
            }
        }

        div {
            input {
                width: 180%;
            }

            label {
                display: block;
            }
        }
    }
}


/*estilo mapa ubicacion*/


.mapouter {
    .gmap-canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
        height: 350px;

        .gmap-iframe {
            width: 100% !important;
            height: 350px !important;
        }
    }

    .correo {
        @include contacto-espacio;
        grid-area: correo;
    }

    .ubicacion {
        @include contacto-espacio;
        grid-area: ubicacion;
    }

    .telefono {
        @include contacto-espacio;
        grid-area: telefono;
    }
}