/*estilos generales a todas las paginas*/

@import "../base/variables";

/*estilos de body*/

body {
    background-color: $color-fondo;
}

/* estilos de header*/

header {
    background-image: linear-gradient(to left,#c8ceebfd, $color-fuente);

    .banner {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        
        grid-template-areas: 
        "logo titulo"
    }
    
    #logo {
        grid-area: logo;
    
    }
    
    #logo-index {
        grid-area: logo;
        animation-name: animacion-logo-index;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }
    
    h1 {
        color: $color-fuente;
        padding: 1.8rem;
        grid-area: titulo;
    }
    
    nav {
        text-align: center;
    }
}



/*estilos de menu*/

li {
    background-color: $color-principal 
}

.container-fluid {
    background-color: $color-principal;
    width: 100%;
    .collapse {
        justify-content: center;
    }
}

.nav {
    background-color: $color-principal;
}

.nav-item:hover {
    filter: drop-shadow(10px 10px 10px grey);
}

/*estilos de footer*/

footer {
    text-align: center;
    .footer-div {
        margin-top: 0.5rem;
        margin-bottom: 1.3rem;
    }
}



/*estilo boton whatsapp*/

.whatsapp {
    position: fixed;
    width: 50px;
    right: 20px;
    bottom: 20px;
    transition: 1s all;
}

.whatsapp:hover {
    scale: 1.5;
}

