/*estilos generales a todas las paginas*/

@import "../base/variables";
@import "../base/mixing";

/*estilos de body*/

body {
    background-color: $color-fondo;
}

/* estilos de header*/

header {
    background-image: linear-gradient(to left, #c8ceebfd, $color-fuente);

    .banner {
        height: 50px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        grid-template-areas:
            "logo titulo"
    }

    #logo {
        grid-area: logo;
    }

    #logo-index {
        grid-area: logo;
        animation-name: animacion-logo-index;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    h1 {
        color: $color-fuente;
        grid-area: titulo;
    }

    nav {
        text-align: center;
    }
}



/*estilos de menu*/

li {
    background-color: $color-principal
}

.container-fluid {
    background-color: $color-principal;
    width: 100%;

    .collapse {
        justify-content: center;
    }
}

.nav {
    background-color: $color-principal;
}

.nav-item:hover {
    filter: drop-shadow(0.5rem 0.5rem 0.5rem grey);
}

/*estilos de footer*/

footer {
    text-align: center;
    background-color: white;

    .footer-div {
        margin-top: 0.5rem;
    }
}

/*estilo boton whatsapp*/

.whatsapp {
    @include posicion-boton-wp;
    transition: 1s all;
}

.whatsapp:hover {
    scale: 1.5;
}