@import "../base/extend";

/*estilos de section*/

.video-como-comprar {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1rem;
}

.section-novedades {
    @extend %section;
    border: 2px solid black;
}

.section-destacados {
    @extend %section;
    border: 2px solid green;
}

.section-mas-vendidos {
    @extend %section;
    border: 2px solid red;
}

.novedades {
    width: 75%;

    .h2 {
        margin-bottom: 0.7rem;
    }
}