/*estilos de section*/

.section-galeria {
    text-align: center;
    border: 1px solid black;
    margin: 40px;
    padding: 15px;
    display: none;
}

.novedades {
    width: 75%;
}

.h2 {
    margin-bottom: 0.7rem;
    
}