@import "../base/extend";
@import "../base/variables";

/*estilos de section*/

.intro {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    width: auto;
    .intro-texto {
        font-size: 2rem;
        width: auto;
        color: $color-fuente;
    }
}

.section-novedades {
    @extend %section;
    border: 2px solid black;
    img {
        margin: 0.3rem;
    }
}

.section-destacados {
    @extend %section;
    border: 2px solid green;
    img {
        margin: 0.3rem;
    }
}

.section-mas-vendidos {
    @extend %section;
    border: 2px solid red;
    img {
        margin: 0.3rem;
    }
}

.novedades {
    width: 75%;

    .h2 {
        margin-bottom: 0.7rem;
    }
}