@import "../base/variables";

/*estilos de main-nosotros*/

.main-nosotros {
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 3rem;

    .btn {
        background-color: $color-principal;
        display: flex;
        justify-content: center;
        align-items: end;
        min-width: min-content;
        width: 80%;
        gap: 3rem;

        p {
            justify-self: auto;
            color: $color-fuente;
            font-size: 1.5rem;
        }

    }

    .vision-label {
        background-color: $color-principal;
    }
}