@import "../base/variables";

/*estilos preguntas frecuentes*/

.preguntasfrecuentes {
    padding: 20px;
    display: none;
    padding-left: 4rem;
    padding-right: 10rem;

    p {
        margin-bottom: $medida-margin;
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}